body{
    color: rgba(24, 23, 23, 0.651);
    font-size: 32px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flex1{
    display: flex;
}
.half1{
    width: 50%;
}
.half2{
    margin: 15px;
    padding: 140px 20px 20px 200px;
}
.half1 img{
    width: 70%;
}
.sideborder1{
    border-left: 5px solid rgb(240, 96, 233);
    font-family:cursive;
    font-size: 200%;
    line-height: 70%;
    color: black;
    padding-left: 25px;
}
.color-salmon{
    color: salmon;
}
.linkbutton1{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 15px 40px;
    background-image: linear-gradient(rgb(241, 77, 104),rgb(240, 109, 233));
}
.oneof3 img{
    width: 40%;
}
.oneof3 h3{
    color: black;
    font-weight: 800;
}
.paddingneed1{
    padding-left: 10%;
    padding-right: 10%;
}
.mission1{
    text-align: center;
    color: black;
    font-family: cursive;
}
.oneof3{
    border-radius: 20px;
    margin: 25px;
    padding: 20px;
    width: 33%;
    box-shadow: 10px 10px 10px gray;
}
.mission{
    background-color: rgba(171, 186, 238, 0.418);
}
.vission{
    background-color: rgba(180, 240, 193, 0.432);
}
.goals{
    background-color: rgba(129, 92, 92, 0.432);
}
.section3{
    width: 40%;
}
.section3 img{
    width: 70%;
    margin-left: 30%;
}
.section4{
    width: 60%;
}
.needmargin1{
    margin-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.limit1{
    color: rgba(31, 29, 29, 0.89);
    line-height: 50%;
    font-family:monospace;
    font-weight: 900;
}
.needpadidng2{
    padding: 60px 150px 0 90px ;
}
.needmargin11{
    margin: 5% 10% 0 10%;
}
footer{
    color: white;
    background-color: black;
}
footer {
    text-align: center;
}
footer h2{
    font-family: monospace;
}
.linkbutton2{
    text-decoration: none;
    color: white;
    font-weight: 700;
}


.form{
    background-color: rgba(224, 211, 211, 0.808);
    padding: 35px 50px;
    font-family: sans-serif;
    line-height: 0;
    margin: 8% 30%;
    border-image: linear-gradient(red,green);
    border-image-slice: 1;
    border-left: 4px solid;
    border-top: 4px solid;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
}
input{
    height: 50px;
}
.input1{
    width: 100%;
    background-color: transparent;
    border: 2px solid rgb(98, 0, 255);
    margin: 2px;
    border-radius: 5px;
    font-size: 20px;
}

textarea{
    height: 100px;
}   
.Send1{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight:700;
    width: 60%;
    margin: 2% 20%;
    border-radius: 15px;
}
.Send1:hover{
    color: black;
    background-color: white;
}