body{
    color: rgba(24, 23, 23, 0.651);
    font-size: 32px;
    margin: 0;
}
.flex1{
    display: flex;
}
.half1{
    width: 50%;
}
.half2{
    margin: 15px;
    padding: 140px 20px 20px 200px;
}
.half1 img{
    width: 60%;
}
.sideborder1{
    border-left: 5px solid rgb(240, 96, 233);
    font-family:cursive;
    font-size: 200%;
    line-height: 70%;
    color: black;
    padding-left: 25px;
}
.color-salmon{
    color: salmon;
}
.linkbutton1{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 15px 40px;
    background-image: linear-gradient(rgb(241, 77, 104),rgb(240, 109, 233));
}